<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %logger{36} - %m%n"/>
        </Console>

        <File name="file" fileName="logs/log1.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %logger{36} - %m%n"/>
        </File>

        <File name="file2" fileName="logs/log2.log">
            <MarkerFilter marker="fileonly" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %logger{36} - %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="file"/>
        </Root>
        <!--<Root level="trace">-->
        <!--<AppenderRef ref="file" level="DEBUG"/>-->
        <!--</Root>-->

        <!--<Logger name="Test_log4j.InfoProcessor" level="info" additivity="false">-->
        <!--<AppenderRef ref="file2" level="ALL"/>-->
        <!--</Logger>-->

        <!--<Logger name="Console_logger" level="error">-->
        <!--<AppenderRef ref="console"/>-->
        <!--</Logger>-->
    </Loggers>
</Configuration>